@media (max-width: 1540px) {
  .shop__menu-item {
    width: 25vw;
  }

  .envelops__container {
    position: absolute;
    left: -50vw;
    transition: all 2s;
  }

  .envelops__container:nth-child(2) {
    left: -27vw;
  }

  .envelops__container:nth-child(3) {
    left: -5vw;
  }

  .envelops__container:nth-child(4) {
    left: 17vw;
  }

  @keyframes appear01 {
    from {
      left: 50%;
      width: 0vw;
      height: 0vh;
    }
    to {
      left: 29vw;
      width: 320px;
      height: 490px;
      z-index: 10;
    }
  }

  @keyframes appear02 {
    from {
      left: 50%;
      width: 0vw;
      height: 0vh;
    }
    to {
      left: 48vw;
      width: 320px;
      height: 490px;
      z-index: 11;
    }
  }

  @keyframes appear03 {
    from {
      left: 50%;
      width: 0vw;
      height: 0vh;
    }
    to {
      left: 68vw;
      width: 320px;
      height: 490px;
      z-index: 12;
    }
  }

  @keyframes appear04 {
    from {
      left: 50%;
      width: 0vw;
      height: 0vh;
    }
    to {
      left: 87vw;
      width: 320px;
      height: 490px;
      z-index: 13;
    }
  }
}
