@import "./cardsColors.css";

.myCards__container {
  width: 100vw;
  padding-top: 2vh;
}

.myCards__container__list {
  flex-wrap: wrap;
  gap: 2rem;
  overflow-y: scroll;
  height: 90vh;
  position: relative;
  padding: 2rem;
}

.myCards__container__list__item {
  width: 370px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
  padding: 48px;
  position: relative;
  box-shadow: 0 0 15px var(--secondaryColor);
}

.myCards__container__list__item::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.myCards__container__list__item-nameContainer {
  justify-content: space-between;
  margin-bottom: 20px;
  position: relative;
  z-index: 10;
}

.myCards__container__list__item-name {
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--secondaryColor);
}

.myCards__container__list__item-PS {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--secondaryColor);
}

.myCards__container__list__item-PS span {
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondaryColor);
  opacity: 0.8;
  margin-right: 2px;
}

.myCards__container__list__item-imgContainer {
  width: 100%;
  height: 45%;
  position: relative;
  z-index: 6;
  border-radius: 4px;
  box-shadow: inset 0 0 25px var(--secondaryColor);
}

.myCards__container__list__item-image {
  width: 100%;
  height: 90%;
  object-fit: contain;
  position: absolute;
  top: 5%;
  left: 0;
  filter: drop-shadow(0 5px 8px var(--secondaryColor));
  z-index: 2;
}

.myCards__container__list__item-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cards-typeContainer {
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}

.cards-type:first-child {
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondaryColor);
  width: 60%;
  clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
  position: absolute;
  left: 0;
  padding: 4px 4px 4px 20px;
}

.cards-type:nth-child(2) {
  font-size: 1rem;
  font-weight: 600;
  color: var(--secondaryColor);
  width: 60%;
  clip-path: polygon(29% 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  right: 0;
  padding: 4px 4px 4px 20%;
}

.myCards__container__list__item-description {
  position: relative;
  z-index: 10;
  margin-top: 42px;
  font-size: 0.9rem;
  font-weight: 700;
  color: var(--secondaryColor);
  line-height: 1.1rem;
}

.myCards__container__list__item-habilityContainer {
  justify-content: space-between;
  position: relative;
  z-index: 10;
  margin-top: 2rem;
  transition: all 0.5s;
}

.myCards__container__list__item-hability {
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--secondaryColor);
  gap: 8px;
}

.myCards__container__list__item-hability:hover {
  cursor: pointer;
}

.myCards__container__list__item-hability span {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--bluePoke);
  display: flex;
  width: 12px;
  height: 12px;
  padding: 8px;
  background: var(--white);
  border-radius: 50%;
  position: relative;
  top: 2px;
}

.myCards__container__list__item-PH {
  font-size: 1.15rem;
  font-weight: 700;
  color: var(--secondaryColor);
}

.myCards__container__list__item-PH span {
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondaryColor);
}
