@font-face {
  font-family: "graffiti";
  src: url("../../public/assets/fonts/freshmarker.ttf");
}

@font-face {
  font-family: "satoshi";
  src: url("../../public/assets/fonts/satoshi.ttf");
}

:root {
  --textColorPrimary: #111;
  --primaryColor: #ff0000;
  --primaryColorOp: #ff0000b2;
  --secondaryColor: #111;
  --white: #f1f1f1;
  --whitePure: #fff;
  --whiteOpacity: #ffffffc9;
  --grey: #9e9e9e;
  --greyLight: #e4e4e4;
  --activeBlue: #a0f0e2;
  --yellowPoke: #ffcb05;
  --bluePoke: #3466af;
  --bluePokeDark: rgb(17, 59, 122);

  --typePlanta: #007336;
  --typeVeneno: #642b72;
  --typeFuego: #ff5f1f;
  --typeVolador: #bceeff;
  --typeHielo: #b5d7dc;
  --typeAgua: #02d8e9;
  --typeBicho: #87b690;
  --typeElectrico: #f4c454;
  --typePsiquico: #c47ac0;
  --typeTierra: #997700;
  --typeRoca: #513a2a;
  --typeNormal: #8a9597;
  --typeLucha: #8f4931;

  --backPlanta: #1abb65;
  --backVeneno: #8f22aa;
  --backFuego: #df4204;
  --backVolador: #009ace;
  --backHielo: #b5d7dc;
  --backAgua: #1bcad6;
  --backBicho: #69c47a;
  --backElectrico: #ffbf28;
  --backPsiquico: #c47ac0;
  --backTierra: #b16f19;
  --backRoca: #79441e;
  --backNormal: #c8cbcc;
  --backLucha: #8f4931;

  --imgBackPlanta: #27b86b;
  --imgBackVeneno: #b648d1;
  --imgBackFuego: #db683a;
  --imgBackVolador: #009ace;
  --imgBackHielo: #b5d7dc;
  --imgBackAgua: #65e8f1;
  --imgBackBicho: #b4f5c0;
  --imgBackElectrico: #e7b02e;
  --imgBackPsiquico: #c47ac0;
  --imgBackTierra: #d1821c;
  --imgBackRoca: #79441e;
  --imgBackNormal: #ebebeb;
  --imgBackLucha: #8f4931;
}

@import url("./mainMenu/continue/upload.css");
@import url("./mainMenu/newUser/newUser.css");
@import url("./mainMenu/mainMenu.css");

@import url("./home/help/help.css");
@import url("./home/myCards/myCards.css");
@import url("./home/pokedex/pokedex.css");
@import url("./home/shop/shop.css");

@import url("./404/page404.css");

@import url("./common/header/header.css");
@import url("./common/sidebar/sidebar.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  overflow: hidden;
  font-family: "satoshi";
}

a {
  color: var(--textColorPrimary);
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  transition: all 0.5s;
}

button:hover {
  cursor: pointer;
}

.loading {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  background: #181b1d;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
