.help {
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: flex-start !important;
  gap: 1rem;
  padding: 2rem 4rem;
  position: relative;
  overflow-y: scroll;
  height: 90vh;
}

.help__title {
  width: 100%;
  background: var(--primaryColor);
  padding: 4px 16px;
  color: var(--white);
}

.help__index {
  padding: 4px 32px;
  background: var(--bluePoke);
  width: 100%;
  color: var(--white);
}

.help__index.primary {
  background: none;
  color: var(--secondaryColor);
}

.help__index-description {
  margin-left: 2rem;
}

.help__index__list {
  margin-left: 4rem;
}

.help__index__list li {
  list-style: upper-alpha;
  font-weight: 600;
}

.help__index__list li:last-child {
  margin-bottom: 1rem;
}
