.page404 {
  padding: 10rem;
}

.page404__img {
  height: 60vh;
  margin-right: 5vw;
}

.page404__title {
  font-size: 4rem;
  font-weight: 900;
  color: var(--bluePoke);
  line-height: 4rem;
  margin-bottom: 2rem;
}

.page404__description {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondaryColor);
  line-height: 1.5rem;
  margin-bottom: 2rem;
  width: 30vw;
}

.page404__button {
  background: var(--bluePoke);
  padding: 0.7rem 3rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 5px var(--secondaryColor);
}
