@charset "UTF-8";
@font-face {
  font-family: "graffiti";
  src: url("../../public/assets/fonts/freshmarker.ttf");
}
@font-face {
  font-family: "satoshi";
  src: url("../../public/assets/fonts/satoshi.ttf");
}
.pokeball__opening {
  width: 100vw;
  height: 100vh;
  background: #FF0000;
  position: relative;
  transition: all 5s;
}
.pokeball__opening::after {
  content: "";
  width: 100%;
  height: 25px;
  background: #111;
  position: absolute;
  bottom: 49%;
  left: 0;
  z-index: 3;
}
.pokeball__opening::before {
  content: "";
  width: 100%;
  height: 50%;
  background: #f1f1f1;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}
.pokeball__opening.started {
  height: 0;
}
.pokeball__opening .pokeball__opening-button {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  z-index: 4;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  border: 25px solid #111;
  transition: all 0.5s;
}
.pokeball__opening .pokeball__opening-button:hover {
  cursor: pointer;
  background: #a0f0e2;
}
.pokeball__opening .pokeball__opening-button.started {
  animation: toTop 11s;
  animation-delay: 1s;
}

@keyframes toTop {
  from {
    top: 50%;
  }
  to {
    top: 0;
  }
}
.mainMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mainMenu .mainMenu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.7882352941);
  padding: 5rem 5rem 10rem 5rem;
  border-radius: 15px;
}
.mainMenu .mainMenu__container .mainMenu__container-logo {
  width: 20vw;
  filter: drop-shadow(0 0 5px #111);
}
.mainMenu .mainMenu__container .mainMenu__container-title {
  font-family: "graffiti";
  font-size: 5rem;
  font-weight: 400;
  color: #111;
  position: relative;
  bottom: 30px;
}
.mainMenu .mainMenu__container .mainMenu__container-button {
  padding: 1rem 4rem;
  background: #3466af;
  border-radius: 28px;
  font-size: 1.3rem;
  font-weight: 500;
  color: #f1f1f1;
  margin-top: 2rem;
}
.mainMenu .mainMenu__container .mainMenu__container-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #111;
}

.gameMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #f1f1f1;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: url(../../public/assets/images/backGameMenu.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.gameMenu.goGame {
  display: flex;
}
.gameMenu .gameMenu__sidebar {
  width: 25%;
  height: 100%;
  background: rgba(255, 0, 0, 0.6980392157);
  position: absolute;
  right: 0;
  box-shadow: 0 5px 15px #111;
  border-left: 1px solid #FF0000;
}
.gameMenu .gameMenu__sidebar .gameMenu__sidebar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.8rem;
}
.gameMenu .gameMenu__sidebar .gameMenu__sidebar-list .gameMenu__logo__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem 5rem 0 5rem;
  border-radius: 15px;
  margin-bottom: -3vh;
}
.gameMenu .gameMenu__sidebar .gameMenu__sidebar-list .gameMenu__logo__container .gameMenu__logo__container-logo {
  width: 20vw;
  filter: drop-shadow(0 0 15px #111);
}
.gameMenu .gameMenu__sidebar .gameMenu__sidebar-list .gameMenu__logo__container .gameMenu__logo__container-title {
  font-family: "graffiti";
  font-size: 5rem;
  font-weight: 400;
  color: #111;
  position: relative;
  bottom: 30px;
}
.gameMenu .gameMenu__sidebar .gameMenu__sidebar-list .gameMenu__sidebar-button {
  width: 15vw;
  font-size: 1.3rem;
  font-weight: 700;
  color: #f1f1f1;
  background: #3466af;
  padding: 1rem;
  box-shadow: 0 0 15px #111;
  border-radius: 15px;
}
.gameMenu .gameMenu__sidebar .gameMenu__sidebar-list .gameMenu__sidebar-button:hover {
  cursor: pointer;
  transform: scale(1.09);
}
.gameMenu .gameMenu__sidebar .gameMenu__sidebar-list .gameMenu__sidebar-button.disabled {
  opacity: 0.6;
  cursor: default;
}
.gameMenu .gameMenu__sidebar .gameMenu__sidebar-list .gameMenu__sidebar-button.disabled:hover {
  transform: scale(1);
}

@font-face {
  font-family: "graffiti";
  src: url("../../public/assets/fonts/freshmarker.ttf");
}
@font-face {
  font-family: "satoshi";
  src: url("../../public/assets/fonts/satoshi.ttf");
}
.pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.pokedex .pokedex__pokemons {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  height: 90vh;
  overflow-y: scroll;
  position: relative;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected {
  width: 55%;
  position: fixed;
  left: -1vw;
  top: 0;
  height: 100vh;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
  height: 90%;
  margin: 10% 0 0 0;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data01 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data01 .pokedex__pokemons__selected-info--id, .pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data01 .pokedex__pokemons__selected-info--name {
  font-size: 2rem;
  font-weight: 700;
  color: #111;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data01 .pokedex__pokemons__selected-info--id {
  color: #9e9e9e;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 50%;
  width: 100%;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-imageContainer {
  width: 70%;
  height: 100%;
  padding: 2rem;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-imageContainer .pokedex__pokemons__selected-info-imageContainer-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 5px 5px #111);
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-dataTable {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 60%;
  background: #3466af;
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.7882352941);
  box-shadow: 0 0 5px #111;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-dataTable .pokedex__pokemons__selected-info--descriptionContainer {
  grid-column: span 2;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-dataTable .pokedex__pokemons__selected-info--descriptionContainer .pokedex__pokemons__selected-info--description {
  font-size: 1rem;
  font-weight: 400;
  color: #f1f1f1;
  line-height: 1.2rem;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-dataTable .pokedex__pokemons__selected-info--label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #f1f1f1;
  margin-bottom: 4px;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-dataTable .pokedex__pokemons__selected-info--data {
  font-size: 1.1rem;
  font-weight: 400;
  color: #f1f1f1;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-dataTable .pokedex__pokemons__selected-info--data.pokedex__pokemons__selected-info--data-move {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-dataTable .pokedex__pokemons__selected-info--data.pokedex__pokemons__selected-info--data-move:hover {
  cursor: pointer;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data02 .pokedex__pokemons__selected-info-dataTable .pokedex__pokemons__selected-info--data.pokedex__pokemons__selected-info--data-move span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #3466af;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  padding: 8px;
  background: #f1f1f1;
  border-radius: 50%;
  position: relative;
  top: 2px;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data03 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 2rem;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__selected .pokedex__pokemons__selected-info .pokedex__pokemons__selected-info-data03 .pokedex-type-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #111;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__list {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-left: 55%;
  padding: 5vh 0;
  background: rgba(255, 255, 255, 0.7882352941);
}
.pokedex .pokedex__pokemons .pokedex__pokemons__list .pokedex__pokemons__list__item {
  width: 13vw;
  height: 30vh;
  padding: 2rem;
  transition: all 0.5s;
  border-radius: 5px;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__list .pokedex__pokemons__list__item:hover {
  cursor: pointer;
  background: #e4e4e4;
  border: rgba(255, 255, 255, 0.7882352941);
  box-shadow: 0 0 5px #111;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__list .pokedex__pokemons__list__item .pokedex__pokemons__list__item-imgContainer {
  width: 100%;
  height: 60%;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__list .pokedex__pokemons__list__item .pokedex__pokemons__list__item-imgContainer .pokedex__pokemons__list__item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 5px 5px #111);
}
.pokedex .pokedex__pokemons .pokedex__pokemons__list .pokedex__pokemons__list__item .pokedex__pokemons__list__item-id {
  font-size: 1rem;
  font-weight: 700;
  color: #9e9e9e;
  margin-top: 1rem;
}
.pokedex .pokedex__pokemons .pokedex__pokemons__list .pokedex__pokemons__list__item .pokedex__pokemons__list__item-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #111;
}

.pokedex-type {
  display: inline-flex;
  margin-top: 12px;
  margin-right: 8px;
  padding: 4px 12px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #111;
}

.pokedex-type--Eléctrico {
  background: #f4c454;
  color: #111;
}

.pokedex-type--Planta {
  background: #007336;
  color: #f1f1f1;
}

.pokedex-type--Veneno {
  background: #642b72;
  color: #f1f1f1;
}

.pokedex-type--Fuego {
  background: #ff5f1f;
  color: #f1f1f1;
}

.pokedex-type--Volador {
  background: #bceeff;
  color: #111;
}

.pokedex-type--Agua {
  background: #02d8e9;
  color: #111;
}

.pokedex-type--Bicho {
  background: #87b690;
  color: #111;
}

.pokedex-type--Hielo {
  background: #b5d7dc;
  color: #111;
}

.pokedex-type--Psíquico {
  background: #c47ac0;
  color: #f1f1f1;
}

.pokedex-type--Tierra {
  background: #997700;
  color: #f1f1f1;
}

.pokedex-type--Roca {
  background: #513a2a;
  color: #f1f1f1;
}

.pokedex-type--Normal {
  background: #8a9597;
  color: #f1f1f1;
}

.pokedex-type--Lucha {
  background: #8f4931;
  color: #f1f1f1;
}

.myCards .myCards__container {
  width: 100vw;
}
.myCards .myCards__container .myCards__container__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-y: scroll;
  height: 90vh;
  position: relative;
  padding: 2rem;
}

.myCards__container__list__item {
  width: 17vw;
  height: 50vh;
  border-radius: 12px;
  padding: 2rem;
  position: relative;
  box-shadow: 0 0 15px #111;
}
.myCards__container__list__item .myCards__container__list__item-nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  position: relative;
  z-index: 10;
}
.myCards__container__list__item .myCards__container__list__item-nameContainer .myCards__container__list__item-name {
  font-size: 1.15rem;
  font-weight: 700;
  color: #111;
}
.myCards__container__list__item .myCards__container__list__item-nameContainer .myCards__container__list__item-PS {
  font-size: 1.4rem;
  font-weight: 700;
  color: #111;
}
.myCards__container__list__item .myCards__container__list__item-nameContainer .myCards__container__list__item-PS span {
  font-size: 1rem;
  font-weight: 700;
  color: #111;
  opacity: 0.8;
  margin-right: 2px;
}
.myCards__container__list__item .myCards__container__list__item-imgContainer {
  width: 100%;
  height: 45%;
  position: relative;
  z-index: 6;
  border-radius: 4px;
}
.myCards__container__list__item .myCards__container__list__item-imgContainer .myCards__container__list__item-image {
  width: 100%;
  height: 90%;
  object-fit: contain;
  position: absolute;
  top: 5%;
  left: 0;
  filter: drop-shadow(0 5px 8px #111);
  z-index: 2;
}
.myCards__container__list__item .myCards__container__list__item-imgContainer .myCards__container__list__item-back {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.myCards__container__list__item .myCards__container__list__item-imgContainer .cards-typeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  bottom: -5px;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}
.myCards__container__list__item .myCards__container__list__item-imgContainer .cards-typeContainer .cards-type:first-child {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  width: 60%;
  clip-path: polygon(0 0, 100% 0, 72% 100%, 0% 100%);
  position: absolute;
  left: 0;
  padding: 4px 4px 4px 20px;
}
.myCards__container__list__item .myCards__container__list__item-imgContainer .cards-typeContainer .cards-type:nth-child(2) {
  font-size: 1rem;
  font-weight: 600;
  color: #111;
  width: 60%;
  clip-path: polygon(29% 0, 100% 0, 100% 100%, 0% 100%);
  position: absolute;
  right: 0;
  padding: 4px 4px 4px 20%;
}
.myCards__container__list__item .myCards__container__list__item-description {
  position: relative;
  z-index: 10;
  margin-top: 38px;
  font-size: 0.9rem;
  font-weight: 500;
  color: #111;
  line-height: 1.1rem;
}
.myCards__container__list__item .myCards__container__list__item-habilityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  margin-top: 2rem;
  transition: all 0.5s;
}
.myCards__container__list__item .myCards__container__list__item-habilityContainer .myCards__container__list__item-hability {
  font-size: 1.15rem;
  font-weight: 700;
  color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.myCards__container__list__item .myCards__container__list__item-habilityContainer .myCards__container__list__item-hability:hover {
  cursor: pointer;
}
.myCards__container__list__item .myCards__container__list__item-habilityContainer .myCards__container__list__item-hability span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #3466af;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  padding: 8px;
  background: #f1f1f1;
  border-radius: 50%;
  position: relative;
  top: 2px;
}
.myCards__container__list__item .myCards__container__list__item-habilityContainer .myCards__container__list__item-PH {
  font-size: 1.15rem;
  font-weight: 700;
  color: #111;
}
.myCards__container__list__item .myCards__container__list__item-habilityContainer .myCards__container__list__item-PH span {
  font-size: 1rem;
  font-weight: 700;
  color: #111;
}

.card-type--Eléctrico {
  background: #c8cbcc;
  border: 1px solid #9e9e9e;
}
.card-type--Eléctrico::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #ffbf28;
  color: #f1f1f1;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.card-type--Planta {
  background: #c8cbcc;
  color: #f1f1f1;
  border: 1px solid #8a9597;
}
.card-type--Planta::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #1abb65;
  color: #f1f1f1;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.card-type--Veneno {
  background: #ffbf28;
  color: #f1f1f1;
  border: 1px solid #f4c454;
}
.card-type--Veneno::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #8f22aa;
  color: #f1f1f1;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.card-type--Fuego {
  background: #ffbf28;
  color: #f1f1f1;
  border: 1px solid #f4c454;
}
.card-type--Fuego::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #df4204;
  color: #f1f1f1;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.card-type--Volador {
  background: #009ace;
  color: #111;
  border: 1px solid #bceeff;
}

.card-type--Agua {
  background: #c8cbcc;
  color: #111;
  border: 1px solid #8a9597;
}
.card-type--Agua::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #1bcad6;
  color: #f1f1f1;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.card-type--Bicho {
  background: #f4c454;
  color: #111;
  border: 1px solid #ffbf28;
}
.card-type--Bicho::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #69c47a;
  color: #f1f1f1;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.card-type--Hielo {
  background: #b5d7dc;
  color: #111;
  border: 1px solid #b5d7dc;
}

.card-type--Psíquico {
  background: #c47ac0;
  color: #f1f1f1;
  border: 1px solid #c47ac0;
}

.card-type--Tierra {
  background: #f4c454;
  color: #f1f1f1;
  border: 1px solid #ffbf28;
}
.card-type--Tierra::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #b16f19;
  color: #f1f1f1;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.card-type--Roca {
  background: #79441e;
  color: #f1f1f1;
  border: 1px solid #513a2a;
}

.card-type--Normal {
  background: #ffcb05;
  border: 1px solid #f4c454;
  z-index: 2;
}
.card-type--Normal::before {
  content: "";
  width: 92%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #c8cbcc;
  color: #f1f1f1;
  position: absolute;
  z-index: 1;
  border-radius: 8px;
}

.card-type--Lucha {
  background: #8f4931;
  color: #f1f1f1;
  border: 1px solid #8f4931;
}

.myCards__container__list__item-imgContainer--Eléctrico {
  background: #e7b02e;
  box-shadow: inset 0 0 25px #111;
}

.myCards__container__list__item-imgContainer--Tierra {
  background: #d1821c;
  box-shadow: inset 0 0 25px #111;
}

.myCards__container__list__item-imgContainer--Normal {
  background: #ebebeb;
  box-shadow: inset 0 0 25px #111;
}

.myCards__container__list__item-imgContainer--Planta {
  background: #27b86b;
  box-shadow: inset 0 0 25px #111;
}

.myCards__container__list__item-imgContainer--Fuego {
  background: #db683a;
  box-shadow: inset 0 0 25px #111;
}

.myCards__container__list__item-imgContainer--Agua {
  background: #65e8f1;
  box-shadow: inset 0 0 25px #111;
}

.myCards__container__list__item-imgContainer--Bicho {
  background: #b4f5c0;
  box-shadow: inset 0 0 25px #111;
}

.myCards__container__list__item-imgContainer--Veneno {
  background: #b648d1;
  box-shadow: inset 0 0 25px #111;
}

.oponents {
  width: 100vw;
  height: 100vh;
  background: url(../../public/assets/images/backOponents.webp);
  background-position: bottom;
}
.oponents .oponents__menu {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  background: rgba(255, 0, 0, 0.6980392157);
  border-bottom: 1px solid #FF0000;
  box-shadow: 0 0 15px #111;
}
.oponents .oponents__menu .oponents__menu__list .shop__button {
  background: #3466af;
  right: 13vw;
}
.oponents .oponents__oponentsList-container {
  padding: 10rem 5rem;
}
.oponents .oponents__oponentsList-container .oponents__oponentsList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.oponents .oponents__oponentsList-container .oponents__oponentsList .oponents__oponentsList-item {
  background: rgba(255, 255, 255, 0.7882352941);
  padding: 2rem 3rem;
  border-radius: 24px;
  box-shadow: 0 0 15px #111;
  height: 43vh;
  width: 20vw;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
}
.oponents .oponents__oponentsList-container .oponents__oponentsList .oponents__oponentsList-item:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.oponents .oponents__oponentsList-container .oponents__oponentsList .oponents__oponentsList-item .oponents__oponentsList-item--name {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  color: #111;
  margin-bottom: 2rem;
}
.oponents .oponents__oponentsList-container .oponents__oponentsList .oponents__oponentsList-item .oponents__oponentsList-item--img {
  width: 100%;
}
.oponents .oponents__oponentsList-container .oponents__oponentsList .oponents__oponentsList-item .oponents__oponentsList-item--img img {
  width: 90%;
  object-fit: cover;
  filter: drop-shadow(0 5px 5px #111);
  position: absolute;
  top: 15%;
}

.oponentsFight {
  width: 100vw;
  height: 100vh;
  background: url(../../public/assets/images/backOponents.webp);
  background-position: bottom;
}
.oponentsFight .oponentsFight__Menu {
  width: 100vw;
  height: 10vh;
  position: absolute;
  top: 0;
  background: rgba(255, 0, 0, 0.6980392157);
  border-bottom: 1px solid #FF0000;
  box-shadow: 0 0 15px #111;
}
.oponentsFight .oponentsFight__Oponent-container {
  padding: 7rem 1rem;
}
.oponentsFight .oponentsFight__Oponent-container .oponentsFight__Oponent-visual {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  align-items: start;
  height: 20vh;
}
.oponentsFight .oponentsFight__Oponent-container .oponentsFight__Oponent-visual .oponentsFight__Oponent-visual-name {
  font-size: 2rem;
  font-weight: 900;
  color: #111;
  text-align: center;
  margin-bottom: -1rem;
}
.oponentsFight .oponentsFight__Oponent-container .oponentsFight__Oponent-visual .oponentsFight__Oponent-visual-image {
  filter: drop-shadow(0 0 5px #111);
  height: 30vh;
  position: absolute;
  top: 16vh;
  left: 3vw;
}
.oponentsFight .oponentsFight__Oponent-container .oponentsFight__Oponent-visual .oponentsFight__Oponent-visual-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 70%;
  gap: 1rem;
  margin-top: 2rem;
  position: relative;
  bottom: 20px;
  left: 30px;
}
.oponentsFight .oponentsFight__Oponent-container .oponentsFight__Oponent-visual .oponentsFight__Oponent-visual-cards .oponentsFight__Oponent-visual-cards--item {
  height: 100%;
  filter: drop-shadow(0 0 5px #111);
}

.oponentsFight__Board {
  background: rgba(255, 255, 255, 0.7882352941);
  border-radius: 20px;
  box-shadow: 0 0 15px #111;
  position: absolute;
  top: 33vh;
  left: 25vw;
  width: 50vw;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.oponentsFight__Board .oponentsFight__Board-top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 50%;
}
.oponentsFight__Board .oponentsFight__Board-top div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #111;
}
.oponentsFight__Board .oponentsFight__Board-top div:hover {
  cursor: pointer;
}
.oponentsFight__Board .oponentsFight__Board-bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  height: 50%;
}
.oponentsFight__Board .oponentsFight__Board-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #111;
}
.oponentsFight__Board .oponentsFight__Board-bottom div:hover {
  cursor: pointer;
}

.possible {
  box-shadow: inset 0 0 15px #1abb65;
}

.occupied img {
  width: 90%;
}

.myCardsFight-container {
  width: 90vw;
  height: 18vh;
  position: absolute;
  bottom: 1vh;
  right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.myCardsFight-container .myCards__container__list__item {
  position: relative;
  top: 12vh;
  transition: all 1s;
}
.myCardsFight-container .myCards__container__list__item:hover {
  cursor: pointer;
  top: -15vh;
}

.myCards__container__list__item.selected {
  box-shadow: 0 0 15px 15px #1abb65;
}

.shop {
  width: 100vw;
  height: 100vh;
  background: url(../../public/assets/images/shopBack.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shop .shop__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  transition: all 2s;
  position: relative;
}
.shop .shop__menu .shop__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  background: rgba(255, 0, 0, 0.6980392157);
  border-radius: 40px;
  transition: all 0.5s;
  width: 20vw;
  box-shadow: 0 0 5px #111;
  font-size: 1.4rem;
  font-weight: 600;
  color: #f1f1f1;
}
.shop .shop__menu .shop__menu-item:hover {
  cursor: pointer;
  background: #FF0000;
  transform: scale(1.05);
}
.shop .shop__menu.allow {
  bottom: 12vh;
}
.shop .shop__menu.disallow {
  bottom: 80vh;
}

.opening {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 3s;
}
.opening .envelops {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 2s;
}
.opening .envelops .envelops__container {
  position: absolute;
  left: -45vw;
  transition: all 2s;
}
.opening .envelops .envelops__container:nth-child(2) {
  left: -27vw;
}
.opening .envelops .envelops__container:nth-child(3) {
  left: -8vw;
}
.opening .envelops .envelops__container:nth-child(4) {
  left: 10vw;
}
.opening .envelops .envelops__container .envelops__container-img {
  transform: scale(1.1);
  cursor: pointer;
  filter: drop-shadow(0 0 25px #111);
  transition: all 0.5s;
  z-index: 10;
  position: relative;
}
.opening .envelops .envelops__container .envelops__container-img:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 35px #111);
}
.opening .envelops .envelops__container .envelops__container-cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.opening .envelops .envelops__container .envelops__container-cards .shopCards {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0vw;
  height: 0vh;
  overflow: hidden;
  transition: all 2s;
}
.opening .envelops .envelops__container .envelops__container-cards .shopCards:hover {
  transform: translate(-50%, -50%) scale(1.1);
  cursor: pointer;
}
.opening .envelops .nonSelected {
  transform: translateY(100vh);
}
.opening .envelops .selectedCard {
  left: -52vw !important;
}
.opening .envelops .selectedCard .envelops__container-img {
  pointer-events: none;
}
.opening .envelops .selectedCard .shopCards:first-child {
  animation: appear01 1s forwards;
  animation-delay: 1.5s;
}
.opening .envelops .selectedCard .shopCards:nth-child(2) {
  animation: appear02 1s forwards;
  animation-delay: 1.7s;
}
.opening .envelops .selectedCard .shopCards:nth-child(3) {
  animation: appear03 1s forwards;
  animation-delay: 1.9s;
}
.opening .envelops .selectedCard .shopCards:nth-child(4) {
  animation: appear04 1s forwards;
  animation-delay: 2.1s;
}
.opening.disallow {
  top: 100vh;
  left: 0;
}
.opening.allow {
  top: 0;
  left: 0;
}

.actionsAllow {
  position: fixed;
  z-index: 10;
  bottom: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: all 4s;
}
.actionsAllow .actionsAllow-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  background: rgba(255, 0, 0, 0.6980392157);
  border-radius: 40px;
  transition: all 0.5s;
  width: 16vw;
  box-shadow: 0 0 5px #111;
  font-size: 1.4rem;
  font-weight: 600;
  color: #f1f1f1;
}
.actionsAllow .actionsAllow-item:hover {
  cursor: pointer;
  background: #FF0000;
  transform: scale(1.05);
}

.actionsDisallow {
  position: fixed;
  z-index: 10;
  bottom: -4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

@keyframes appear01 {
  from {
    left: 50%;
    width: 0vw;
    height: 0vh;
  }
  to {
    left: 27vw;
    width: 16vw;
    height: 50vh;
  }
}
@keyframes appear02 {
  from {
    left: 50%;
    width: 0vw;
    height: 0vh;
  }
  to {
    left: 45vw;
    width: 16vw;
    height: 50vh;
  }
}
@keyframes appear03 {
  from {
    left: 50%;
    width: 0vw;
    height: 0vh;
  }
  to {
    left: 63vw;
    width: 16vw;
    height: 50vh;
  }
}
@keyframes appear04 {
  from {
    left: 50%;
    width: 0vw;
    height: 0vh;
  }
  to {
    left: 81vw;
    width: 16vw;
    height: 50vh;
  }
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 10vh;
  background: #3466af;
  padding: 2rem;
  position: relative;
  border-bottom: 4px solid rgb(17, 59, 122) f;
  box-shadow: 0 0 15px #111;
  z-index: 20;
}
.header .back__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 1.7rem;
  font-weight: 500;
  color: #f1f1f1;
  gap: 8px;
  position: absolute;
  left: 2rem;
}
.header .back__button img {
  width: 32px;
}
.header .back__button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.header .pages__title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #f1f1f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  overflow: hidden;
  font-family: "satoshi";
}

a {
  color: #111;
}

li {
  list-style: none;
}

button {
  border: none;
  transition: all 0.5s;
}
button:hover {
  cursor: pointer;
}

.loading {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  background: #181B1D;
}

/*# sourceMappingURL=style.css.map */
