.formContainer {
  height: 90vh;
}

.form {
  width: 30%;
  height: 60%;
  border: 1px solid var(--grey);
  background: var(--whitePure);
  border-radius: 15px;
  flex-direction: column;
  gap: 2rem;
  box-shadow: 0 0 8px var(--secondaryColor);
}

.form__item {
  position: relative;
}

.form__item__imgContainer {
  position: relative;
}

.form__item__imgContainer-input {
  position: absolute;
  top: -8vh;
  left: -50px;
  height: 124px;
  width: 124px;
  z-index: 2;
  appearance: none;
  border-radius: 50%;
}

.form__item__imgContainer-input:hover {
  cursor: pointer;
}

.form__item__imgContainer-input.selected {
  box-shadow: 0 0 25px var(--backPlanta);
  border: 1px solid var(--backPlanta);
}

.form__item__imgContainer-input--view {
  position: absolute;
  top: -8vh;
  left: -50px;
  height: 124px;
  width: 124px;
  border-radius: 50%;
  box-shadow: 0 0 8px var(--secondaryColor);
  background: url(../../../../public/assets/images/profileImg/prof01.webp);
  background-size: cover;
  filter: drop-shadow(0 0 2px var(--secondaryColor));
}

.form__item__imgContainer-input:nth-child(2) .form__item__imgContainer-input {
  left: 100px;
}

.form__item__imgContainer-input:nth-child(2)
  .form__item__imgContainer-input--view {
  left: 100px;
  background: url(../../../../public/assets/images/profileImg/prof02.webp);
  background-size: cover;
  filter: drop-shadow(0 0 2px var(--secondaryColor));
}

.form__item__imgContainer-input:nth-child(3) .form__item__imgContainer-input {
  left: -200px;
}

.form__item__imgContainer-input:nth-child(3)
  .form__item__imgContainer-input--view {
  left: -200px;
  background: url(../../../../public/assets/images/profileImg/prof03.webp);
  background-size: cover;
  filter: drop-shadow(0 0 2px var(--secondaryColor));
}

.form__item__imgContainer-input:nth-child(2) {
  flex-direction: column;
  padding-top: 4.5rem;
}

.form__item-username {
  padding: 4px 8px;
  border-radius: 25px;
  width: 240px;
  text-align: center;
}

.form__item-username--label {
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--secondaryColor);
}

.form__item-submit {
  padding: 4px 16px;
  border-radius: 15px;
  background: var(--bluePoke);
  color: var(--white);
  font-size: 1rem;
}

.form__item-submit:hover {
  cursor: pointer;
}

.errorMessage {
  display: none;
  color: var(--primaryColor);
}

.errorMessage.allow {
  display: block;
}

.errorMessage.errorImg {
  position: absolute;
  width: 400px;
  left: -110px;
  top: 70px;
}
