.header {
    @include set-flex;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background: $bluePoke;
    padding: 2rem;
    position: relative;
    border-bottom: 4px solid $bluePokeDark;
    box-shadow: 0 0 15px $secondaryColor;
    z-index: 20;

    .back__button {
        @include set-flex;
        background: none;
        @include font(1.7rem, 500, $white);
        gap: 8px;
        position: absolute;
        left: 2rem;
    
        img {
            width: 32px;
        }
    
        &:hover {
            cursor: pointer;
            transform: scale(1.02)
        }
    }
    
    .pages__title {
        @include font(2.5rem, 600, $white);
        position: absolute
    }

    .header__user {
        @include set-flex;
        gap: 12px;
        margin-left: auto;

        .pokecuarto {
            width: 14px;
            filter: invert(1);
            margin-left: -10px;
        }

        .header__user__money {
            @include font(1.1rem, 600, $white)
        }

        .header__user__profImg {
            width: 70px;
            height: 70px; 
            overflow: hidden;
            border-radius: 50%;
            @include set-flex;
            box-shadow: 0 0 8px $secondaryColor;
            background: $white;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }

            &-overlay {
                position: absolute;
                transition: all 1s;
                top: -50px;
                right: 30px;
                @include set-flex;
                gap: 8px;
                background: $bluePoke;
                padding: 8px 2rem;
                border-radius: 15px;
                box-shadow: 0 0 8px $secondaryColor;
                opacity: 0;

                p {
                    @include font(1.2rem, 600, $white)
                }

                img {
                    width: 32px;
                }

                &:hover {
                    cursor: pointer;
                }
            }

            &-overlay.active {
                position: absolute;
                transition: all .5s;
                top: 120px;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 1540px) {
    .header {
        height: 15vh;
    }
}