@import '_mixin.scss';

.mainMenu {
    @include set-flex;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .mainMenu__container {
        @include set-flex;
        flex-direction: column;
        background: $whiteOpacity;
        padding: 5rem 5rem 10rem 5rem;
        border-radius: 15px;
        
        .mainMenu__container-logo {
            width: 20vw;
            filter: drop-shadow(0 0 5px $secondaryColor);
        }

        .mainMenu__container-title {
            font-family: 'graffiti';
            @include font(5rem, 400, $secondaryColor);
            position: relative;
            bottom: 30px;
        }

        .mainMenu__container-button {
            padding: 1rem 4rem;
            background: $bluePoke;
            border-radius: 28px;
            @include font(1.3rem, 500, $white);
            margin-top: 2rem;

            &:hover {
                transform: scale(1.05);
                box-shadow: 0 0 5px $secondaryColor;
            }
        }
    }
}

.gameMenu {
    @include set-flex;
    width: 100vw;
    height: 100vh;
    background: $white;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: url(../../public/assets/images/backGameMenu.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &.goGame {
        display: flex;
    }

    .gameMenu__sidebar {
        width: 25%;
        height: 100%;
        background: $primaryColorOp;
        position: absolute;
        right: 0;
        box-shadow: 0 5px 15px $secondaryColor;
        border-left: 1px solid $primaryColor;

        .gameMenu__sidebar-list {
            @include set-flex;
            flex-direction: column;
            gap: 2.8rem;

            .gameMenu__logo__container {
                @include set-flex;
                flex-direction: column;
                padding: 3rem 5rem 0 5rem;
                border-radius: 15px;
                margin-bottom: -3vh;
                
                .gameMenu__logo__container-logo {
                    width: 20vw;
                    filter: drop-shadow(0 0 15px $secondaryColor);
                }
        
                .gameMenu__logo__container-title {
                    font-family: 'graffiti';
                    @include font(5rem, 400, $secondaryColor);
                    position: relative;
                    bottom: 30px;
                }
            }

            .gameMenu__sidebar-button {
                width: 15vw;
                @include font(1.3rem, 700, $white);
                background: $bluePoke;
                padding: 1rem;
                box-shadow: 0 0 15px $secondaryColor;
                border-radius: 15px;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.09);
                }
            }
        }
    }
}