@import '_mixin.scss';

.myCards__container {
	width: 100vw;
	padding-top: 2vh;

	.myCards__container__list {
		@include set-flex;
		flex-wrap: wrap;
		gap: 2rem;
		overflow-y: scroll;
		height: 90vh;
		position: relative;
		padding: 2rem;
	}
}

.card-type--Eléctrico {
    background: $backNormal;
    border: 1px solid $grey;

    &::before {
        @include typeColor($backElectrico, $white);
    }
}

.card-type--Planta {
    @include typeColor($backNormal, $white);
    border: 1px solid $typeNormal;

    &::before {
        @include typeColor($backPlanta, $white);
    }
}

.card-type--Veneno {
    @include typeColor($backElectrico, $white);
    border: 1px solid $typeElectrico;

    &::before {
        @include typeColor($backVeneno, $white);
    }
}

.card-type--Fuego {
    @include typeColor($backElectrico, $white);
    border: 1px solid $typeElectrico;

    &::before {
        @include typeColor($backFuego, $white);
    }
}

.card-type--Volador {
    @include typeColor($backVolador, $secondaryColor);
    border: 1px solid $typeVolador;
}

.card-type--Agua {
    @include typeColor($backNormal, $secondaryColor);
    border: 1px solid $typeNormal;

    &::before {
        @include typeColor($backAgua, $white);
    }
}

.card-type--Bicho {
    @include typeColor($typeElectrico, $secondaryColor);
    border: 1px solid $backElectrico;

    &::before {
        @include typeColor($backBicho, $white);
    }
}

.card-type--Hielo {
    @include typeColor($backHielo, $secondaryColor);
    border: 1px solid $typeHielo;
}

.card-type--Psíquico {
    @include typeColor($backPsiquico, $white);
    border: 1px solid $typePsiquico;
}

.card-type--Tierra {
    @include typeColor($typeElectrico, $white);
    border: 1px solid $backElectrico;

    &::before {
        @include typeColor($backTierra, $white);
    }
}

.card-type--Roca {
    @include typeColor($backRoca, $white);
    border: 1px solid $typeRoca;
}

.card-type--Normal {
    background: $yellowPoke;
    border: 1px solid $typeElectrico;
    z-index: 2;

    &::before {
        @include typeColor($backNormal, $white);
    }
}

.card-type--Lucha {
    @include typeColor($backLucha, $white);
    border: 1px solid $typeLucha;
}

.myCards__container__list__item-imgContainer--Eléctrico {
    background: $imgBackElectrico;
}

.myCards__container__list__item-imgContainer--Tierra {
    background: $imgBackTierra;
}

.myCards__container__list__item-imgContainer--Normal {
    background: $imgBackNormal;
}

.myCards__container__list__item-imgContainer--Planta {
    background: $imgBackPlanta;
}

.myCards__container__list__item-imgContainer--Fuego {
    background: $imgBackFuego;
}

.myCards__container__list__item-imgContainer--Agua {
    background: $imgBackAgua;
}

.myCards__container__list__item-imgContainer--Bicho {
    background: $imgBackBicho;
}

.myCards__container__list__item-imgContainer--Veneno {
    background: $imgBackVeneno;
}