.upload {
    @include set-flex;
    height: 100vh;
    padding-bottom: 35vh;
    background: url(/public/assets/images/backGameMenu.png);
    background-position: center;
    background-size: cover;

    .upload__form {
        background: $white;
        padding: 3rem 4rem;
        border-radius: 15px;
        box-shadow: 0 0 15px $secondaryColor;
        @include set-flex;
        flex-direction: column;
        gap: 2rem;

        
        .upload__dropzone {
            border: 3px dashed $bluePoke;
            border-radius: 8px;
            padding: 4rem 4rem 3rem 4rem;
            text-align: center;
            cursor: pointer;
            transition: all .5s;

            &.dragging {
                background-color: $white;
            }
        }

        .upload__button {
            display: inline-block;
            @include font(1.1rem, 600, $white);
            margin-top: 1rem;
            padding: 8px 15px;
            background-color: $bluePoke;
            border-radius: 5px;
            cursor: pointer;
            box-shadow: 0 0 5px $secondaryColor;
        }

        p {
            @include font(1rem, 600, $secondaryColor);
            margin-top: 2rem;
        }

        .upload__form--upload {
            input {
                background: $whitePure;
                box-shadow: 0 0 5px $secondaryColor;
                padding: 1rem 2rem;
                border-radius: 8px;
            }
        }
    }
}