@font-face {
    font-family: 'graffiti';
    src: url('../../public/assets/fonts/freshmarker.ttf');
}

$textColorPrimary: #111;
$primaryColor: #FF0000;
$secondaryColor: #111;
$white: #f1f1f1;
$whiteOpacity: #ffffffc9;
$activeBlue: #a0f0e2;
$yellowPoke: #ffcb05;
$bluePoke: #3466af;