@import '_variables.scss';
@import '_opening.scss';
@import '_mainMenu.scss';
@import '_pokedex.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: $white;
    overflow: hidden;
    font-family: 'satoshi';
}

a {
    color: $textColorPrimary;
}

li {
    list-style: none;
}

button {
    border: none;
    transition: all .5s;

    &:hover {
        cursor: pointer;
    }
}